body{
    background-color: rgb(222, 245, 220);
}

table{
    background-color: aquamarine;
    border-radius: 10px;
    border-color: brown;
    border-style: groove;
    border-width: 3px;
}
h1{
    text-align: center;
    color: blueviolet;
    background-color: aliceblue;
}