.movie-list{
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie-card{
    width: 25%;
    height: 550px;
    border: 10px solid white;
    margin: 20px;
}
.movie-img{
    width: 80%;
    padding: 20px;
    height: 300px;
}
.movie-card h1{
    color: black;
    background-color: rgb(172, 172, 172);
    /* border-radius: 10px; */
    border: 2px solid white;
}
.movie-card h2{
    color: black;
    background-color: lightgray;
    /* border-radius: 5px; */
    border: 2px solid white;
}