nav{
    background-color:aqua;
    height: 40px;
    border:10px solid transparent;
    margin-bottom: 20px;
}
ul{
    display: flex;
    gap: 20px;
}
ul li{
    list-style-type: none;

}
li a{
    text-decoration: none;
    box-shadow: 2px 2px;
 }

a:hover{
    transform: scale(1.1);
    background-color: rgb(10, 161, 161);
    color: rgb(0, 0, 0);
}