.fitems{
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: rgb(252, 76, 63);
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 10px;
    border-color: bisque;
    border-width: 10px;
    border-style: double;
}
.fcontainer{
    display: flex;
    flex-direction: row;
    background-color: rgb(182, 252, 149);
    align-content: center;
    justify-content: center;

}
#item1{
    order: -1;
}